body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/*heading*/
.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 7% 15%;
}

/* sections*/
.coloured-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.text {
  color: #8f8f8f;
}

/* Navigation bar */
.navbar {
  padding-bottom: 0 0 2.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
    font-weight:lighter;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  margin-right: 30%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-iamge {
    position: static;
    transform: rotate(0);
  }
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

#features {
  position: relative;
}

.feature.title {
  font-size: 1.5rem;
}

.icon {
  color: #cf8172;
  margin-bottom: 20px;
}

.icon:hover {
  color: #ff4c68;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.cta-text {
  font-size: 3rem;
  color: white;
  line-height: 2;
}

#footer {
  background-color: white;
}

.icon2 {
  margin: auto 20px 20px 20px;
}
